*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.container{
    height: 400px;
    width: 900px;
   margin:auto;
   padding:0 15px;
   cursor:pointer;
   
   

}
.container img{
    height:100%;
    width: 100%;
   object-fit: cover;
   border-radius: 50px;
   border:4px solid transparent;
   /* mettre transition sur l'element original */
   transition:1s;
}    

.container img:hover{
    border:4px solid #000;
}
    
    
